.photo-preview__thumb-img {
  cursor: pointer;
  width: 200px;
  height: 100px;
}
.photo-preview {
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.4s;
}
.photo-preview .photo-preview__in {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-preview .photo-preview__in::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.photo-preview .photo-preview__in::-webkit-scrollbar-track {
  border-radius: 0;
}
.photo-preview .photo-preview__in::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: silver;
}
.photo-preview .photo-preview__in .photo-preview__img-wrap {
  transition-duration: 0.2s;
  position: absolute;
}
.photo-preview .photo-preview__in .photo-preview__img-wrap .photo-preview__img-placeholder {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.photo-preview .photo-preview__in .photo-preview__img-wrap img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.photo-preview .photo-preview__loading {
  position: relative;
}
.photo-preview .photo-preview__loading::before {
  content: ' ';
  display: block;
  border-top: 5px solid #999999;
  border-right: 5px solid #999999;
  border-bottom: 5px solid #999999;
  border-left: 5px solid #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: rotating 0.8s linear 0s infinite;
}
.photo-preview .photo-preview__tool {
  border-radius: 45px;
  padding: 5px 10px;
  height: 45px;
  background-color: #ffffff;
  opacity: 0.3;
  position: fixed;
  top: 20px;
  right: 20px;
  user-select: none;
  transition-duration: 0.5s;
  display: flex;
}
.photo-preview .photo-preview__tool:hover {
  opacity: 0.9;
}
.photo-preview .photo-preview__tool .iconfont {
  font-size: 25px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #444444;
  transition-duration: 0.4s;
  margin: 0 2px;
  cursor: pointer;
}
.photo-preview .photo-preview__tool .icon-close:hover {
  transform: scale(1.15);
}
.photo-preview .photo-preview__tool .icon-turn-left {
  transform: rotate(50deg);
}
.photo-preview .photo-preview__tool .icon-turn-left:hover {
  transform: rotate(0deg);
}
.photo-preview .photo-preview__tool .icon-turn-right {
  transform: rotate(-50deg);
}
.photo-preview .photo-preview__tool .icon-turn-right:hover {
  transform: rotate(0deg);
}
.photo-preview .photo-preview__tool .icon-go-left[data-disable='true'],
.photo-preview .photo-preview__tool .icon-go-right[data-disable='true'] {
  cursor: wait;
}
body[photo-preview-show='true'] {
  overflow: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
