.tree {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0;
	width: 70%;
	overflow-x: hidden;
	overflow-y: auto;
	background: #eee;
	padding: 20px;
	.tree-nodes {
		position: relative;
		overflow: hidden;
		.tree-node {
			.inner {
				position: relative;
				font-size: 20px;
				color: #000;
				cursor: pointer;
				padding-left: 10px;
				.content {
					display: inline-block;
					padding-left: 4px 5px;
					width: 100%;
					.icon {
						margin: 0 6px;
					}
				}
			}
			.children {
				padding-left: 20px;
			}
		}
	}
}
